<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/news.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/icon.css}" media="all"/>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        关键字：
        <div class="layui-input-inline">
            <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input"/>
        </div>
        时间：
        <div class="layui-input-inline">
            <input type="text" value="" placeholder="请输入开始时间" class="layui-input search_input" id="laydate"/>
        </div>
        -
        <div class="layui-input-inline">
            <input type="text" value="" placeholder="请输入结束时间" class="layui-input search_input"/>
        </div>
        <a class="layui-btn search_button">查询</a>
    </div>
    <div class="layui-inline" shiro:hasPermission="project:create">
        <a class="layui-btn layui-btn-normal add_button" data-url="/admin/project/add">添加项目</a>
    </div>
    <div class="layui-inline" shiro:hasPermission="project:delete">
        <a class="layui-btn layui-btn-danger deleteAll_button">批量删除</a>
    </div>
</blockquote>
<div class="layui-form news_list">
    <table class="layui-table">
        <colgroup>
            <col width="50"/>
            <col/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="6%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"/></th>
            <th style="text-align:center;">项目名称</th>
            <th style="text-align:center;">简述</th>
            <th style="text-align:center;">网站</th>
            <th style="text-align:center;">是否展示</th>
            <th style="text-align:center;">发布时间</th>
            <th style="text-align:center;">修改时间</th>
            <th style="text-align:center;">操作</th>
        </tr>
        </thead>
        <tbody class="news_content">

        </tbody>
    </table>
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/project/projectList.js}"></script>
</body>
</html>