<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">
<head>
    <meta charset="utf-8"/>
    <title>查看政策法规详情</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_eolqem241z66flxr.css" media="all" />
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/policies/policiesLook.js}"></script>
</head>
<body>
<h1 class="title" style="font-size: 20px;" align="center"></h1>
<p class="time" align="center"></p><br/><br/>
<div class="content"></div>
</body>
</html>