<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>订单详情</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/news.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/icon.css}" media="all"/>
</head>
<body class="childrenBody">

    <div class="layui-form-item">
        <table class="layui-hide" id="test" lay-filter="demo"></table>
        <input hidden="hidden" id="id" th:value="*{id}"/>
        <input hidden="hidden" id="type" th:value="*{type}"/>
    </div>

    <form class="layui-form" lay-filter="test1">
        <div class="layui-form-item">
            <label class="layui-form-label">菜品名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input name" lay-verify="required" placeholder="请输入菜品名称"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">配 图</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="img"><i class="layui-icon"></i>选择配图</button>
            </div>
            <div class="layui-upload-form">
                <img class="layui-upload-img" id="picture" style="width: 104.47px;height: 104.74px;padding-left: 120px;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜品单价</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input price" placeholder="请输入菜品单价"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">餐具费</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input boxFee" placeholder="请输入菜品餐盒费费"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜品说明</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input description" placeholder="请输入菜品单价"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-inline">
                <select  name="type" lay-verify="re quired" lay-search="">
                    <option value="1">今日菜谱</option>
                    <option value="2">特色小炒</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权重</label>
            <div class="layui-input-inline">
                <select  name="weight" lay-verify="re quired" lay-search="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="lay-submit" lay-filter="save_button">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>


    <script>
    layui.use(["form", "layer", "layedit", "jquery","upload"], function(){
        var form = layui.form;
        var id = parent.layer.id;
        upload = layui.upload,
        $ = layui.$ //由于layer弹层依赖jQuery，所以可以直接得到
                ,layer = parent.layer === undefined ? layui.layer : parent.layer
        var id = $("#id").val();
        var type = $("#type").val();

        if (type == 'update') {
            $.post(
                "/canteen/getCommodity",
                {id:id},
                function (data) {
                    $(".name").val(data.name),
                    $("#picture").attr("src",data.picture),
                    $(".description").val(data.description),
                    $(".price").val(data.price),
                    $(".boxFee").val(data.boxFee),
                    $("select[name='type']").val(data.type)
                    $("select[name='weight']").val(data.weight)
                    form.render('select');
                }, "json"
            );
        }

        //保存菜品
        form.on("submit(save_button)", function (data) {
            var commodity = {
                name: $(".name").val(),
                id: $("#id").val(),
                picture: $("#picture").attr("src"),
                description:$(".description").val(),
                price:$(".price").val(),
                boxFee:$(".boxFee").val(),
                type: $("select[name='type']").val(),
                weight: $("select[name='weight']").val()
            };
            $.post(
                "/canteen/changeCommodity",
                commodity,
                function (data) {
                    setTimeout(function () {
                        top.layer.close(index);
                        top.layer.msg("添加成功！");
                        layer.closeAll("iframe");
                        //刷新父页面
                        parent.location.reload();
                    }, 1000);
                }, "json"
            );
            //弹出loading
            var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
            return false;
        })

        //图片上传
        //指定允许上传的文件类型
        upload.render({
            elem: '#img'
            , url: '/tpctodayfood/upload'
            , accept: 'image/gif,image/jpeg,image/jpg,image/png,image/svg' //普通文件
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {

                });
            }
            , done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $('#picture').attr('src', res.data.src); //图片链接（base64）
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });

</script>
</body>
</html>