<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加优惠政策</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
</head>
<style>
    .layui-anim {
        text-align: center;
    }
</style>
<body class="childrenBody">
<form class="layui-form" lay-filter="test1">
    <div class="layui-form-item">
        <label class="layui-form-label">政策标题</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input title" lay-verify="required" placeholder="请输入政策标题"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">政策发布人</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input author" placeholder="请输入政策发布人"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">政策内容</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="content" lay-verify="content" id="news_content"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="save_button">提交审批</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/chanyeyuan/fsstandard/tpcStandardAdd.js}"></script>
</body>
</html>