<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>日志列表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/news.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/icon.css}" media="all"/>
</head>
<body class="childrenBody">
<form id="myForm" th:action="@{/admin/log/}" th:method="get">
    <blockquote class="layui-elem-quote news_search">
        <div class="layui-inline">
            关键字：
            <div class="layui-input-inline">
                <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input"/>
            </div>
            时间：
            <div class="layui-input-inline">
                <input type="text" value="" placeholder="请输入开始时间" class="layui-input search_input" id="laydate"/>
            </div>
            -
            <div class="layui-input-inline">
                <input type="text" value="" placeholder="请输入结束时间" class="layui-input search_input"/>
            </div>
            <a class="layui-btn search_btn">查询</a>
        </div>
        <div class="layui-inline" shiro:hasPermission="log:deleteAll">
            <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
        </div>
    </blockquote>
    <div class="layui-form news_list">
        <table class="layui-table">
            <colgroup>
                <col width="50"/>
                <col width="10%"/>
                <col width="12%"/>
                <col width="15%"/>
                <col width="10%"/>
                <col width="7%"/>
                <col width="8%"/>
                <col width="10%"/>
                <col width="13%"/>
                <col width="13%"/>
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"/></th>
                <th style="text-align:center;">用户名</th>
                <th style="text-align:center;">用户操作</th>
                <th style="text-align:center;">请求地址</th>
                <th style="text-align:center;">请求方式</th>
                <th style="text-align:center;">耗时(ms)</th>
                <th style="text-align:center;">是否异常</th>
                <th style="text-align:center;">操作IP</th>
                <th style="text-align:center;">操作时间</th>
                <th style="text-align:center;">操作</th>
            </tr>
            </thead>
            <tbody class="news_content">
            <tr class="text-c" th:each="model:${pageInfo?.list}" th:object="${model}">
                <td>
                    <input type="checkbox" class="boxs" name="checked" lay-skin="primary" lay-filter="choose"/>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
                </td>
                <td style="text-align:center;" th:text="*{username}"></td>
                <td style="text-align:center;" th:text="*{operation}"></td>
                <td style="text-align:center;" th:text="*{requestUri}"></td>
                <td style="text-align:center;" th:text="*{requestMethod}"></td>
                <td style="text-align:center;" th:text="*{timeConsuming}"></td>
                <td style="text-align:center;">
                    <div class="layui-unselect layui-form-switch layui-form-onswitch" th:if="*{logType == '1'}"
                         lay-skin="_switch"><em>是</em><i></i>
                    </div>
                    <div class="layui-unselect layui-form-switch layui-form-onswitch" th:unless="*{logType == '1'}"
                         lay-skin="_switch"><em>否</em><i></i>
                    </div>
                </td>
                <td style="text-align:center;" th:text="*{requestIp}"></td>
                <td style="text-align:center;" th:text="*{#dates.format(createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td style="text-align:center;">
                    <a shiro:hasPermission="log:view" class="layui-btn layui-btn-mini news_edit"><i class="iconfont icon-edit"></i> 详情</a>
                    <a shiro:hasPermission="log:delete" class="layui-btn layui-btn-danger layui-btn-mini news_del"><i class="layui-icon delete">
                        &#xe640;</i>
                        删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--当前页码-->
        <input type="hidden" th:value="${pageInfo?.pageNum}" th:name="pageNum" id="pageNum"/>
        <!--总页数-->
        <input type="hidden" th:value="${pageInfo?.total}" id="pages"/>
    </div>
    <div id="page"></div>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/log/logList.js}"></script>
</body>
</html>