<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>本月房屋到期统计列表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/news.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/icon.css}" media="all"/>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        关键字：
        <div class="layui-input-inline">
            <input type="text"  placeholder="按租户姓名查找" class="layui-input name"/>
        </div>
        <a class="layui-btn search_button"><i class="layui-icon">&#xe615;</i>查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn stick_button" style="background-color:#5FB878">重置</a>
    </div>
</blockquote>
<div class="layui-form review_list">
    <table class="layui-table">
        <colgroup>
            <col width="5%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"/></th>
            <th style="text-align:center;">公司名称</th>
            <th style="text-align:center;">房间号</th>
            <th style="text-align:center;">租户姓名</th>
            <th style="text-align:center;">联系电话</th>
            <th style="text-align:center;">付款方式</th>
            <th style="text-align:center;">应付款日期</th>
            <th style="text-align:center;">操作</th>
        </tr>
        </thead>
        <tbody class="review_content"></tbody>
    </table>
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/chanyeyuan/fsservice/rental/list.js}"></script>
</body>
</html>