<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改用户</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
</head>
<style>
    .layui-anim {
        text-align: center;
    }
</style>
<body class="childrenBody">
<form class="layui-form" lay-filter="test1" th:object="${model}">
    <div class="layui-form-item">
        <label class="layui-form-label">登录账号</label>
        <div class="layui-input-block">
            <input type="hidden" class="layui-input id" th:value="*{id}" lay-verify="required"/>
            <input type="text" class="layui-input username layui-disabled" th:value="*{username}" lay-verify="required" placeholder="请输入登录账号"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">登录密码</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input password layui-disabled" th:value="*{password}" lay-verify="required" placeholder="请输入密码"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <input type="hidden" th:value="${role.id}" id="oldRoleId"/>
            <input type="radio" disabled="disabled" name="roleName" th:checked="${role.id}==${model.id}" th:each="model : ${roleList}" th:value="${model.id}" th:title="${model.name}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input realName" th:value="*{realName}" lay-verify="required" placeholder="请输入真实姓名"/>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="1" title="男"  th:checked="*{sex}"/>
            <input type="radio" name="sex" value="0" title="女" th:checked="*{!sex}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input mobilePhone" th:value="*{mobilePhone}" lay-verify="required" placeholder="请输入手机号"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input email" th:value="*{email}" lay-verify="required" placeholder="请输入邮箱"/>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="put_button">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/user/userEdit.js}"></script>
</body>
</html>