<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">
<head>
    <meta charset="UTF-8"/>
    <title>添加banner页面</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
</head>
<body>
<div class="layui-upload">
    <button type="button" class="layui-btn layui-btn-normal" id="testList">选择Banner图</button>
    <div class="layui-upload-list">
        <table class="layui-table">
            <thead>
            <tr><th>Banner预览</th>
                <th>大小</th>
                <th>状态</th>
                <th>操作</th>
            </tr></thead>
            <tbody id="demoList"></tbody>
        </table>
    </div>
    <button type="button" class="layui-btn" id="testListAction">开始上传</button>
</div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/paperbanner/bannerAdd.js}"></script>
</body>
</html>